<div class="container">
	<div class="row">
		<div class="error-template col-md-12 text-center">
			<h1>Oops!</h1>
			<h2>404 Not Found</h2>
			<div class="error-details">
				Sorry, an error has occured, Requested page not found!
			</div>
			<div class="error-actions">
				<a href="{{{appUrl}}}">
					<button class="btn btn-primary btn-lg">
						<span class="glyphicon glyphicon-home"></span> Take Me Home
					</button>
				</a>

				<a href="{{{appUrl}}}/contact-us">
					<button class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon-envelope"></span> Contact Support
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
