<style>
    .featured-image img.img-responsive {
        min-height: 250px;
        max-height: 250px;
    }
</style>
<div class="container">
    {{#if brand}}
        <div class="row">
            {{>brand}}
        </div>
    {{/if}}
</div>

{{#if offers.length}}
    <div class="container">
        <div class="row products-grid">
            {{#each offers}}
                <div class="col-md-3 col-lg-3 col-sm-12 single" 
                    itemscope itemtype="http://schema.org/Product"
                    style="box-shadow:3px 3px 3px #CFD8DC; margin-bottom :15px;">                
                    {{>product}}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container">

        <div class="row">
            <a href="http://bit.ly/2OZfVz1">
                <img class="mobile-only" width="100%" src="https://res.cloudinary.com/dyc0ieeyu/image/upload/q_80,c_fit,h_600,w_900/pages/vayu8qhxp5ugytypdhho"/>
                <img class="desktop-only" width="100%" src="https://res.cloudinary.com/dyc0ieeyu/image/upload/q_80,c_fit,h_600,w_900/pages/vfh6smsefasbabsskjuz"/>
            </a>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 class="home_featured_title home-title page-title">
                    <span class="category-name">Our Popular Drink</span>
                </h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
        <div class="row products-grid">
            {{#each popular}}
                <div class="col-md-3 col-lg-3 col-sm-12 single" 
                    itemscope itemtype="http://schema.org/Product"
                    style="box-shadow:3px 3px 3px #CFD8DC; margin-bottom :15px;">                
                    {{>product}}
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    {{#if products.length}}
        <div class="row products-grid">
            {{#each products}}
                <div class="col-md-3 col-lg-3 col-sm-12 single" 
                    itemscope itemtype="http://schema.org/Product"
                    style="box-shadow:3px 3px 3px #CFD8DC; margin-bottom :15px;">
                    
                    {{>product}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="container"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="font-size: 18px;">No results found!</h2>
                    <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/no_results.png"/>
                    <br/>
                    <a href="/">Back to Today's Offers</a>
                </div>
            </div>    
        </div>
    {{/if}}
{{/if}}