<article id="entry-2855" class="mk-blog-grid-item mk-isotop-item image-post-type two-column mk-blog-grid-item--loaded"
         style="position: absolute; backface-visibility: hidden; top: 0px; left: 0px;">
    <div class="blog-grid-holder">
        <div class="featured-image">
            <a class="full-cover-link "
               title="Best Practices in SMS Messaging for Crisis Management"
               href="https://www.geopoll.com/blog/best-practices-in-sms-messaging-for-crisis-management/">&nbsp;
            </a>
            <img class="blog-image" alt="Best Practices in SMS Messaging for Crisis Management"
                 title="Best Practices in SMS Messaging for Crisis Management"
                 src="https://www.geopoll.com/wp-content/uploads/bfi_thumb/un-heli-nszbc4su8lxfxzxzvyigp8gy8vb6c9gl5jtii92xfc.png"
                 data-mk-image-src-set="{&quot;default&quot;:&quot;https://www.geopoll.com/wp-content/uploads/bfi_thumb/un-heli-nszbc4su8lxfxzxzvyigp8gy8vb6c9gl5jtii92xfc.png&quot;,&quot;2x&quot;:&quot;https://www.geopoll.com/wp-content/uploads/bfi_thumb/un-heli-nszbc4t0mer2ydgcwnlvv6557wup9h2pd55gldd8j4.png&quot;,&quot;mobile&quot;:&quot;&quot;,&quot;responsive&quot;:&quot;true&quot;}"
                 width="524" height="300" itemprop="image" mk-img-src-setted="">
            <div class="image-hover-overlay">

            </div>
            <div class="post-type-badge"
                 href="https://www.geopoll.com/blog/best-practices-in-sms-messaging-for-crisis-management/">
                <svg class="mk-svg-icon" data-name="mk-li-image" data-cacheid="icon-5b48a963cbf16"
                     style=" height:48px; width: 48px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M460.038 4.877h-408.076c-25.995 0-47.086 21.083-47.086 47.086v408.075c0 26.002 21.09 47.086 47.086 47.086h408.075c26.01 0 47.086-21.083 47.086-47.086v-408.076c0-26.003-21.075-47.085-47.085-47.085zm-408.076 31.39h408.075c8.66 0 15.695 7.042 15.695 15.695v321.744h-52.696l-55.606-116.112c-2.33-4.874-7.005-8.208-12.385-8.821-5.318-.583-10.667 1.594-14.039 5.817l-35.866 44.993-84.883-138.192c-2.989-4.858-8.476-7.664-14.117-7.457-5.717.268-10.836 3.633-13.35 8.775l-103.384 210.997h-53.139v-321.744c0-8.652 7.05-15.695 15.695-15.695zm72.437 337.378l84.04-171.528 81.665 132.956c2.667 4.361 7.311 7.135 12.415 7.45 5.196.314 10.039-1.894 13.227-5.879l34.196-42.901 38.272 79.902h-263.815zm335.639 102.088h-408.076c-8.645 0-15.695-7.043-15.695-15.695v-54.941h439.466v54.941c0 8.652-7.036 15.695-15.695 15.695zm-94.141-266.819c34.67 0 62.781-28.111 62.781-62.781 0-34.671-28.111-62.781-62.781-62.781-34.671 0-62.781 28.11-62.781 62.781s28.11 62.781 62.781 62.781zm0-94.171c17.304 0 31.39 14.078 31.39 31.39s-14.086 31.39-31.39 31.39c-17.32 0-31.39-14.079-31.39-31.39 0-17.312 14.07-31.39 31.39-31.39z"></path>
                </svg>
            </div>
        </div>
        <div class="mk-blog-meta">
            <h3 class="the-title">
                <a href="https://www.geopoll.com/blog/best-practices-in-sms-messaging-for-crisis-management/">
                    Best Practices in SMS Messaging for Crisis Management
                </a>
            </h3>
            <div class="mk-blog-meta-wrapper">
                <time datetime="2018-07-12"><a href="https://www.geopoll.com/blog/2018/07/">July 12, 2018</a></time>
            </div>
            <div class="the-excerpt">
                <p>January of 2010 a massive earthquake devastated the lives of people in the
                    Caribbean. The earthquake’s center was just outside the Hattian capitol, Port Au Prince. With an
                    initial
                    shock value of [...]
                </p>
            </div>
        </div>
        <div class="blog-grid-footer">
            <a class="mk-readmore"
               href="https://www.geopoll.com/blog/best-practices-in-sms-messaging-for-crisis-management/">
                <svg class="mk-svg-icon" data-name="mk-moon-arrow-right-2" data-cacheid="icon-5b48a963e71b9"
                     style=" height:8px; width: 8px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M192 0l-96 96 160 160-160 160 96 96 256-256z"></path>
                </svg>
                Read More
            </a>
            <div class="mk-love-holder">
                <a href="#" class="mk-love-this " id="mk-love-2855">
                    <svg class="mk-svg-icon" data-name="mk-icon-heart" data-cacheid="icon-5b48a963ec238"
                         style=" height:16px; width: 16px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792">
                        <path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"></path>
                    </svg>
                    <span class="mk-love-count">0</span>
                </a>
            </div>
        </div>
    </div>
</article>