<nav class="navbar">
    <div class="top-header-inner">
        <div class="left-area hidden-xs">
            <h style="font-size: 34px; font-family:Garamond">
                <a href="/">
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fit,w_207,h_50/logo.png" height="50px" alt="Dial a Drink logo">
                <strong><span style=" color: black">Dial A Drink</span></strong>
                </a>
            </h>

        </div>
    </div>

    
    <div class="right">
        <select name="language" class="language">
            <option value="English">English</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
            <option value="Spanish">Spanish</option>
        </select>
        <button><a href="#">Check Out</a></button>
    </div>

</nav>