<div>
    <h2 style="font-size: 15px;">Filter Selection: </h2>                    
    {{#each subCategories}}
        <div >
            <div style="float: left; min-width: 80px; padding-left: 10px;">
                <a href="/{{{cleanId subCategory.name}}}">   {{{subCategory.name}}} </a>
   
            </div> 
             
        </div>
    {{/each}}
</div>